html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    margin: 1px;
}

.intro-animated-gif {
    background-color: yellow;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

body {
    background-color: black;
    color: #72BF78;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
}

button {
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.shopItems {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.shopItems button {
    height: 40px;
    width: 60;
    border-radius: 25%;
}

.game-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.stats {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}

.stats-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stats-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.stats span {
    margin: 0 10px;
}

#animated-gif {
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 10px;
}

.inventory-dropdown {
    position: relative;
    display: inline-block;
}

.inventory-list {
    display: none;
    position: absolute;
    background-color: black;
    color: #72BF78;
    border: 1px solid #72BF78;
    padding: 10px;
    z-index: 1;
}

.inventory-dropdown:hover .inventory-list {
    display: block;
}

.inventory-button {
    background-color: black;
    color: #72BF78;
    border: 1px solid #72BF78;
    padding: 5px;
    cursor: pointer;
    border-radius: 25%;
    height: 30px;
    width: 60px;
}

.introButton {
    border-radius: 25%;
    height: 50px;
    width: 60px;
}

#choiceBtn {
    border-radius: 25%;
    height: 50px;
    width: 80px;
}

.hidden {
    display: none;
}